/* Primary Location for Global CSS */

* {
  font-family: 'Albert Sans', sans-serif;
}

html {
  background-color: #DCDCDC;
  overflow: hidden;
}

body {
  margin: 0;
}

#ymir-application {
  height: 100vh;
}

.ymir-app {
  width: 100%;
  height: 100%;
}